body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 20px;
  }
  h1 {
    text-align: center;
  }
  label {    
    font-size: 33px;
  }
  strong {
    width: 40%;
    height: 50%;
    
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    margin-bottom: 20px;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 6px;
    font-size: 33px;
    text-align: left;
  }
  th {
    background: #e9ecef;
  }
  input[type="text"] {
    width: 80%;
    font-size: 33px;
  }
  input[type="number"] {
    width: 40px;
    font-size: 33px;
  }
  input[type="date"] {
    width: 80%;
    font-size: 33px;
  }
   select {
    width: 170px;
    font-size: 33px;
  }
  .datos {
    background: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  button {
    padding: 30px 60px;
    font-size: 55px;
    cursor: pointer;
  }

a {
    background-color: #3e41ee;
    text-decoration: none;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 10px;
}

tr.categoria td {
  background-color: #222;
  color: #fff;
  font-weight: bold;
  padding: 8px;
  font-size: 30px;
}

tr.encabezados th {
  background-color: #ddd;
  text-align: left;
  padding: 6px;
}
