body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    padding: 20px;
  }
  h1 {
    text-align: center;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    margin-bottom: 20px;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 6px;
    font-size: 13px;
    text-align: left;
  }
  th {
    background: #e9ecef;
  }
  input[type="number"] {
    width: 40px;
  }
  .datos {
    background: #fff;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  button {
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
  }

a {
    background-color: #3e41ee;
    text-decoration: none;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    border-radius: 10px;
}